[user]
	name = Kessyus Fófano
	email = kessyus@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[color "status"]
  added = green
  changed = blue
  untracked = red 
[color "diff"]
  meta = yellow
  old = red 
  new = green
[push]
  default = current
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = osxkeychain
