# Wildcards
*~

# Directories
.oh-my-zsh/
diff-so-fancy/
emoji-cli/
forgit/
plugged/
autoload/
auto-save-list/
contrib/
elpa/
emojis/
eshell/
games/
image-dired/
thumbs/
transient/
url/
var/

# Files
.DS_Store
.netrwhist
abbrev_defs
ac-comphist.dat
bookmarks
history
network-security.data
oauth2.plstore
tramp
*.zwc
