[user]
  name = Kessyus Fófano
  email = kessyus@gmail.com
[core]
  editor = vim
  excludesfile = ~/.dotfiles/.gitignore_global
	autocrlf = false
  safecrlf = true
[merge]
  tool = vim -d
[alias]
  c = commit
  s = status
  st = status
  lg = log --oneline
  last = log -1 HEAD
  cl = log -p -- ':(exclude)Cargo.lock'
  f = push --force-with-lease
  # https://stackoverflow.com/a/11688523/472927
  ss = "!f() { git stash show stash^{/$*} -p; }; f"
  sa = "!f() { git stash apply stash^{/$*}; }; f"
  sl = stash list
[pull]
  ff = only
[push]
  default = simple
[help]
  autocorrect = 1
[github]
  user = kessyus
[ui "color"]
  ui = always
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[color "status"]
  added = green
  changed = blue
  untracked = red
[color "diff"]
  meta = yellow
  old = red
  new = green
[push]
  default = current
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[credential]
  helper = osxkeychain
